.logo {
  font-size: 38px;
  margin-right: 20px;
}
.fa-solid {
  font-size: 20px;
}
.file-input {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
#canvas {
  width: 640px;
  height: 480px;
  image-rendering: pixelated;
}
#emulator {
  width: 640px;
  margin: 50px auto;
}
#bios-notification {
  position: fixed;
  top: 100px;
  left: 25%;
  display: none;
  width: 40%;
}
label {
  font-weight: 600;
}
#analog-mode {
  display: none;
  float: right;
  width: 325px;
  margin-right: 40px;
  margin-top: 40px;
}
#analog-mode-status-icon {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #D70040;
  border-radius: 20px;
}