.logo {
  font-size: 38px;
  margin-right: 20px;
}
.fa-solid {
  font-size: 20px;
}
.file-input {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
#canvas {
  width: 640px;
  height: 480px;
  image-rendering: pixelated;
}
#emulator {
  width: 640px;
  margin: 50px auto;
}
#bios-notification {
  position: fixed;
  bottom: 0;
  left: 25%;
  display: none;
  width: 60%;
}